@model appMonumentos.Models.Utilizador

@{
    // Define o título da página
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Tem a certeza que quer eliminar este utilizador?</h3>

<div>
    <h4>Utilizador</h4>
    <hr />

    <!-- Lista de detalhes do utilizador para confirmar a eliminação -->
    <dl class="row">
        <dt class="col-sm-2">
            <!-- Nome do campo Username -->
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            <!-- Valor do Username -->
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt class="col-sm-2">
            <!-- Nome do campo Password -->
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            <!-- Valor da Password -->
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt class="col-sm-2">
            <!-- Nome do campo Nome -->
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            <!-- Valor do Nome -->
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            <!-- Nome do campo Localidade do Utilizador -->
            @Html.DisplayNameFor(model => model.LocalidadeUtilizador)
        </dt>
        <dd class="col-sm-10">
            <!-- Valor da Localidade do Utilizador -->
            @Html.DisplayFor(model => model.LocalidadeUtilizador)
        </dd>

        <dt class="col-sm-2">
            <!-- Nome do campo Email -->
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            <!-- Valor do Email -->
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <!-- Formulário para confirmar a eliminação -->
    <form asp-action="Delete">
        <!-- Campo oculto com o ID do utilizador a eliminar -->
        <input type="hidden" asp-for="Id" />
        <!-- Botão para submeter o formulário e eliminar o utilizador -->
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <!-- Link para voltar à lista de utilizadores -->
        <a asp-action="Index">Back to List</a>
    </form>
</div>
