@model IEnumerable<appMonumentos.Models.Monumento>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}

<h1>Monumentos</h1>

@if (User.Identity?.IsAuthenticated == true)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Designacao)</th>
        <th>@Html.DisplayNameFor(model => model.First().Endereco)</th>
        <th>@Html.DisplayNameFor(model => model.First().Coordenadas)</th>
        <th>@Html.DisplayNameFor(model => model.First().EpocaConstrucao)</th>
        <th>@Html.DisplayNameFor(model => model.First().Descricao)</th>
        <th>@Html.DisplayNameFor(model => model.First().Utilizador.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.First().Localidade.Id)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Designacao</td>
            <td>@item.Endereco</td>
            <td>@item.Coordenadas</td>
            <td>@item.EpocaConstrucao</td>
            <td>@item.Descricao</td>
            <td>@item.Utilizador?.Nome</td>
            <td>@item.Localidade?.Id</td>
            <td>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                        @if (User.Identity.Name == "Admin")
                    {
                         <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>